body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    display: block;
}

.logo-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-nav {
    display: flex;
    align-items: center;

    ;
}


.header-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;

}

.header-adr-list {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 40px;

}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-list-item :hover,
.header-list-item :focus {
    color: #404bbf;
}

.header-adr {
    font-style: normal
}



.header-adr-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-adr-list-item :hover,
.header-adr-list-item :focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;

}

.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;

}



.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    border: 0px;
    margin: auto;

    height: 56px;
    margin-top: 50px;

    border-radius: 4px;
    min-width: 169px
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-list {
    display: flex;
    gap: 24px;

}

.benefits-list-item {
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
}

.people {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.people-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}


.people-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.people-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 8px
}

.people-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.people-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;

}

.people-div {
    padding: 32px 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);

    width: 360px;
    height: 420px;
}


.portfolio-images {}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background: #2e2f42;
    padding: 100px 0
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-item {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;

}

.footer-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    display: block;

}

.fotter-container {}